@media(max-width:812px){
    body{
        grid-template-areas: "header"
                             "section"
                             "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        background: url(../images/bg-pattern-bottom-mobile.svg) no-repeat bottom right, url(../images/bg-pattern-top-mobile.svg) no-repeat top left;
        gap: 50px;
    }

    header{
        text-align: center;
    }

    header h1,
    header p{
        width: 100%;
    }

    section .rating-card{
        width: 100%;
        flex-direction: column;
        padding: 10px;
        gap: 10px;
        align-items: center;
    }

    section .rating-card:nth-child(2){
        padding: 10px;
    }
    
    section .rating-card:nth-child(3){
        padding: 10px;
    }

    section .rating-card p{
        white-space: normal;
    }

    footer{
        flex-direction: column;
    }

    footer article:nth-child(1){
        bottom: 0px;
    }
    
    footer article:nth-child(2){
        bottom: 0px;
    }
}